/* generics */

[class*=col]{
    background-color: #006CFA;
    color: white;
    border: 1px solid white;
    display: flex;
}

.box{
    background-color: #00E164;
    color: white;
    border: none;
    text-align: center;
    width: 100%;
}

/* DISPLAYS */

.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.d-inline-block{
    display: inline-block;
}

.d-inline{
    display: inline;
}

.d-none{
    display: none;
}


/* ALIGNMENT */

.jc-center{
    justify-content: center;
}

.jc-flex-start{
    justify-content: flex-start;
}

.jc.flex-end{
    justify-content: flex-end;
}

.jc-space-between{
    justify-content: space-between;
}

.jc-space-around{
    justify-content: space-around;
}

.jc-space-evenly{
    justify-content: space-evenly;
}

/* ROW */

.row{
    display: flex;
    align-items: stretch;
}

/* COL */

.col{
    flex-grow: 1;
}


.col-1{
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1);
}

.col-2{
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2);
}

.col-3{
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3);
}

.col-4{
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4);
}

.col-5{
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5);
}

.col-6{
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6);
}

.col-7{
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7);
}

.col-8{
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8);
}

.col-9{
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9);
}

.col-10{
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10);
}

.col-11{
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11);
}

.col-12{
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12);
}


/* PADDING */

.pd-1{
    padding: 2px;
}

.pd-2{
    padding: 10px;
}

.pd-3{
    padding: 15px;
}

.pd-4{
    padding: 20px;
}

.pd-5{
    padding: 30px;
}

.pd-6{
    padding: 40px;
}

/* BORDER */

.border-none{
    border: none;
}

/* OFFSET */

.col-offset-1{
    margin-left: calc((100% / 12) * 1);
}

.col-offset-2{
    margin-left: calc((100% / 12) * 2);
}

.col-offset-3{
    margin-left: calc((100% / 12) * 3);
}

.col-offset-4{
    margin-left: calc((100% / 12) * 4);
}

.col-offset-5{
    margin-left: calc((100% / 12) * 5);
}

.col-offset-6{
    margin-left: calc((100% / 12) * 6);
}

.col-offset-7{
    margin-left: calc((100% / 12) * 7);
}

.col-offset-8{
    margin-left: calc((100% / 12) * 8);
}

.col-offset-9{
    margin-left: calc((100% / 12) * 9);
}

.col-offset-10{
    margin-left: calc((100% / 12) * 10);
}

.col-offset-11{
    margin-left: calc((100% / 12) * 11);
}

.col-offset-12{
    margin-left: calc((100% / 12) * 12);
}
